.super-container {
  position: absolute;
  left: 20em;
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 200px;
  margin: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
h6{
    text-align: center;
}
img:hover {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.2s;
  transform: translate(0px, -10px);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4), 0 8px 24px 0 rgba(0, 0, 0, 0.6);
}